<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Not Found 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../public/css/stickyfooter.css" rel="stylesheet">
    <style>
            /* Not required for template or sticky footer method. */
        .center { text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto; }
        .credit { margin: 20px 0; }
    </style>
    <!--[if lt IE 9]>
    <script src="../public/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrap">
    <div class="jumbotron masthead">
        <div class="container">
            <div class="hero-unit center">
                <h1>Error 404
                    <small><font face="Tahoma" color="red">Page Not Found</font></small>
                </h1>
                <br/>

                <p>The page you requested could not be found, either contact your webmaster or try again. Use your
                    browsers <b>Back</b> button to navigate to the page you have prevously come from</p>

                <p><b>Or you could just press this neat little button:</b></p>
                <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
            </div>
        </div>
    </div>
    <div id="push"></div>
</div>
<div id="footer">
    <div class="container">
        <p class="credit">
            <!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: " FlipH"; display: inline-block;"><![endif]-->
                <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
                   Copyleft © 2013
                </span>
            <!--[if lte IE 8]></span><![endif]-->
        </p>
    </div>
</div>
</body>
</html>
